[2021-02-26 14:35] jamesbirtles opened #10 "Ability to invalidate the entire cache?"
A use case has come up where I'd like to invalidate the entire cache (or perhaps invalidate based on a predicate on the values). I'm not seeing any way to do this at the moment. I am using the future based cache.

[2021-02-27 13:21] tatsuya6502 commented on #10
Hi. I started to implement `invalidate_all` method, which invalidate the entire cache. (#11)

Once I am done with it, I will start to work on `invalidate_entries_if` method, which takes a predicate and invalidate entries that meet the predicate.

I will let you know when they are ready.

[2021-02-28 11:05] UnwrittenFun commented on #10
Awesome! 🎉

[2021-03-02 12:02] tatsuya6502 commented on #10
@UnwrittenFun &mdash; I just published [Moka 0.3.0](https://crates.io/crates/moka/0.3.0) to crates.io. It has `invalidate_all` method and I hope you will like it. ([API doc](https://docs.rs/moka/0.3.0/moka/future/struct.Cache.html#method.invalidate_all))

I will keep this issue open until I finish implementing `invalidate_entries_if` method.

[2021-05-21 01:39] Dessix opened #15 "Feature Request: Get or Insert Future"
The ability to get-or-insert atomically would be nice for preventing multiple requests for the same resource from being created to populate the cache. Otherwise, there's a race condition between get and insert where another task could attempt to get as well, and also see an empty record to populate.

[2021-05-27 12:39] tatsuya6502 commented on #15
Thanks for your suggestion. I think this would be a good feature to add. I will work on it once I finish working on another feature (#12).

Which Moka `Cache` implementation are you going to use? [moka::sync::Cache](https://docs.rs/moka/0.3.0/moka/sync/struct.Cache.html) or [moka::future::Cache](https://docs.rs/moka/0.3.0/moka/future/struct.Cache.html)?

[2021-05-27 12:44] Dessix commented on #15
Futures- thanks ^^

[2021-06-20 06:44] tatsuya6502 commented on #10
Finally, I finished implementing this method (PR #12). It takes a predicate and invalidate entries that satisfy the predicate. (`key: &K` and `value: &V` are passed to the predicate)  The invalidation is processed by a background thread and client reads/writes will not be blocked while running the invalidation.

I am running some load tests now. If they go well, I will merge the PR and release Mok

[2021-06-20 07:17] #10 closed

[2021-06-27 00:23] tatsuya6502 commented on #15
Hi @Dessix

I created [a topic branch](https://github.com/moka-rs/moka/tree/get_or_insert_with) and added the following methods to the future cache:

[code]

- This method takes a key and a future to initialize the value.
- If the key does not exist in the cache and no other `get_or_insert_with` or `get_or_try_insert_with` method is already running for the key, it awaits for the future, inserts th

[2021-07-08 15:17] #15 closed

[2021-07-09 00:13] tatsuya6502 commented on #15
Published Moka [v0.5.0](https://crates.io/crates/moka/0.5.0) to crates.io.

[2021-08-26 10:04] GrandChaman opened #25 "[BUG] `usize` overflow on big cache capacity"
Hello,

First of all thank you for the very nice work !

There seems to be a multiply overflow that could be handled at the line referenced below.

https://github.com/moka-rs/moka/blob/76b06af686c5ecaa913abf1acb46e45fc4f0a95c/src/sync/base_cache.rs#L395

This could be done either by returning an error type, or by maxing the value of the cache capacity to `usize::max_value() / 32`

[2021-08-29 21:48] cybermancy opened #29 "Show example for get_or_insert_with"
I'm having trouble figuring out how to use that method. Can you add an example to the docs?

[2021-08-30 13:58] tatsuya6502 commented on #29
Hi. Thanks for your feedback. Yes; the document needs some improvements.

I am thinking to add the following examples to `moka::future::Cache` of Moka v0.5.2. Will they work for you? (I am assuming you are using the `future` cache, but please let me know if you are using a `sync` cache)

`get_or_insert_with`

[code]

`get_or_try_insert_with`

[code]

[2021-08-30 17:09] cybermancy commented on #29
Appreciate your quick and very detailed response, I was mistaken about what I thought this method did. This ticket probably isn't the place but I would like to mention: I think a useful feature could be to allow locking a key until it's next written to, or until it's scope ends.

My use case is a function that can run multiple times in circumstances where network conditions are bad, and I wanted t

[2021-08-30 23:58] tatsuya6502 commented on #29
Ah, OK. You were not mistaken. This method does lock a key and you can use it in your code above.

It uses a `RwLock` and ensures only one async task can acquire the exclusive writer lock. Other async tasks will wait untile the writer lock is released and then they will acquire multi-reader locks. The async task who has the writer lock will resolves the future, and other async tasks will not. The

[2021-08-31 09:31] tatsuya6502 commented on #29
So your code

[code]

will be translated into this when you use `get_or_insert_with()` method:

[code]

[2021-08-31 09:41] tatsuya6502 commented on #29
OK. How about this? Will this answer your question?

[code]

Here is an output from the above program:

- `get_html()` was called exactly once by task 5.
- All other tasks were blocked until task 5 got the value from `get_html()` and inserted it to the cache.

[code]

This example uses `get_or_try_insert_with()`, which expects an async block/async fn to return a `Result<V, Box<dyn Error + ...>>`,

[2021-08-31 17:09] cybermancy commented on #29
Ah, I see now. That example is beautiful. Thank you!

[2021-09-02 01:50] cybermancy commented on #29
Sorry, but I'm still having trouble. I believe it's because I can't return the way I want to here with bail!() inside an async block:

[code]

I return a `Result<(GuildMember, bool), anyhow::Error>` from query_db_for_member_or_return_current(). The tuple is because there's two different states that GuildMember could be in and I didn't want to use the error to express that because I want to use it'

[2021-09-02 11:33] tatsuya6502 opened #31 "`future::Cache::get_or_(try_)insert_with()` can lead UB as accepting `init` future that is not `Send` or `'static`."
In Moka v0.5.0 and v0.5.1, the following code fragments for `future::Cache` will compile. However Moka should reject them as they can lead undefined behavior (UB) in safe Rust.

**Example 1**

[code]

**Example 2**

[code]

So `future::Cache`'s `get_or_insert_with()` and `get_or_try_insert_with()` need extra bounds `Send` and `'static` on the `init` future.

[2021-09-02 11:41] tatsuya6502 commented on #29
Yeah, I know these type puzzles will be difficult to solve for anybody until they get used to async and multi-threading programming in Rust.

I see a couple of issues in you code. Added comments inline.

[code]

To solve them, we need to do the followings:

1. For `member_was_cached`, use `std::sync::atomic::AtomicBool` instead of `bool`.
2. For `bail!()`, use `get_or_try_insert_with` instead of `

[2021-09-02 17:01] cybermancy commented on #29
Your helpfulness is legend! Thank you. Closing this issue now.

[2021-09-02 17:01] #29 closed

[2021-09-04 09:46] tatsuya6502 commented on #25
This has been addressed by #28. I will release Moka v0.5.2 soon.

[2021-09-04 09:46] #25 closed

[2021-09-04 14:35] tatsuya6502 commented on #31
This has been addressed by #32.

[2021-09-04 14:35] #31 closed

[2021-09-05 07:34] tatsuya6502 opened #34 "Segmentation faults in moka-cht under heavy workloads on a many-core machine"
I have seen segmentation faults a few times when I am running [mokabench](https://github.com/moka-rs/mokabench) on Moka v0.5.1. It seems it is randomly happening while `get_or_insert_with` method is heavily called concurrently from many threads.

[code]

I am using Amazon EC2 for running mokabench. After spending few days, I found it is related to the version of [crossbeam-epoch](https://crates.io

[2021-09-05 07:37] tatsuya6502 commented on #34
Based on my test results, it might be worth to downgrade crossbeam-epoch from v0.9.5 to v0.8.2 to workaround the issue. I am preparing Moka v0.5.2 release with moka-cht v0.4.2 and crossbeam-epoch v0.8.2.

[2021-09-06 13:52] tatsuya6502 commented on #34
Released Moka v0.5.2 with moka-cht v0.4.2 and crossbeam-epoch v0.8.2.

Unfortunately, the same segmentation fault (the pattern 1) occurred when I was running mokabench on Moka v0.5.2. I released v0.5.2 anyway as earlier versions of Moka may have the same issue already, and I feel segmentation faults is less frequent with crossbeam-epoch v0.8.2.

[2021-09-08 13:23] tatsuya6502 opened #38 "Support Linux on MIPS and ARMv5TE"
Support the following 32-bit Linux platforms if possible:
- `mipsel-unknown-linux-musl` (for https://github.com/messense/aliyundrive-webdav/issues/22)
- `armv5te-unknown-linux-musleabi` (for https://github.com/messense/aliyundrive-webdav/issues/23)

Currently Moka will not compile by the following reasons:
- Moka uses `std::atomic::AtomicU64` mainly as the expiration clock for entries, but `Atomic

[2021-09-10 14:01] tatsuya6502 commented on #38
Fixed this via #39.

[2021-09-10 14:01] tatsuya6502 commented on #38
@messense — Thank you for testing PR #39. I just published [Moka v0.5.3](https://crates.io/crates/moka/0.5.3) to crate.io.

[2021-09-10 14:01] #38 closed

[2021-09-11 12:44] tatsuya6502 commented on #34
Just for sure, I tried Rust 1.53.0 to compile mokabench + Moka v0.5.3. I did it because I have never tried Rust 1.53.0 since Moka v0.5.1 was released. The result was the same; it got a segmentation fault after running mokabench for ~2 hours. I used the EC2 instance type with 36 vCPUs.

| Segfaults? | Rust | Moka | crossbeam-epoch | vCPUs |
|:-----:|:---:|:---:|:---:|:---:|
| yes | 1.53.0 | **v0.5.

[2021-09-14 12:00] tatsuya6502 opened #41 "Remove `atomic64` feature and use `crossbeam::atomic::AtomicCell<u64>` for all targets?"
In order to support target platforms without `AtomicU64`, we added a Cargo feature called `atomic64` to Moka v0.5.3 and put it into the default feature list (#38, #39).

- If the feature is enabled, Moka keeps the old behavior (by using `AtomicU64` as timestamps of cache entries).
- Otherwise, it uses `RwLock<Instant>` so that it will compile for such targets.

The feature also controls whether qu

[2021-09-14 12:01] tatsuya6502 commented on #41
Before switching to `AtomicCell<T>`, we need to check its implementation to see if it as efficient as our current implementation.

[2021-09-16 15:14] tatsuya6502 commented on #41
[quanta v0.9.3](https://crates.io/crates/quanta/0.9.3) has been released and Moka v0.5.4 (next version) and newer will always enable quanta (#42).

[2021-09-17 00:01] nickguletskii opened #43 "Panic causes "thread panicked at 'internal error: entered unreachable code'""
Hi, thank you for this very useful library! However, I've found a way to enter a supposedly unreachable state.

Here's the relevant part of the backtrace:

[code]

This issue seems to occur when two threads attempt to fetch the same key and the thread on which the value initialization was started panics. I've built a simple program to demonstrate this issue:

[code]

I think the unreachable code i

[2021-09-17 15:19] tatsuya6502 commented on #43
Hi. Thank you for the detailed report! I totally agree; we should take one of the options that you proposed.

I think we can take this option by using the `catch_unwind` method from the futures crate. ([doc](https://docs.rs/futures/0.3.17/futures/future/trait.FutureExt.html#method.catch_unwind)). I will give it a try.

[2021-09-17 16:36] nickguletskii commented on #43
Unless I am missing something, using `catch_unwind` would impose a lot of restrictions of what can happen inside the future. For instance, if I modify my example to use `catch_unwind`, it won't compile because of internal mutability in the `Semaphore`:

[code]

And here's the compiler error:

[code]

However, it should be possible to detect the panic  on the other thread  without directly catching

[2021-09-18 13:28] tatsuya6502 commented on #43
Thanks for checking. I opened a pull request #46, which uses `catch_unwind`. It wraps the future with `AssertUnwindSafe` to avoid the restrictions. ([doc](https://doc.rust-lang.org/stable/std/panic/struct.AssertUnwindSafe.html)).

https://github.com/moka-rs/moka/blob/af44363001962d92b425f6a139d2dc82f0d242ce/src/future/value_initializer.rs#L110-L122

I verified that your example compiles and now wo

[2021-09-20 00:17] #43 closed

[2021-12-02 19:43] bddap opened #52 "[BUG] overflow when ttl is large"
The following panics:

[code]

[code]

[2021-12-04 11:58] barkanido commented on #52
Is this a good first issues for newcomers? I would like to try an contribute here

[2021-12-12 00:37] tatsuya6502 opened #54 "Investigate Clippy warning about unsound Send impl"
Since Rust beta became 1.58, weekly builds have been failing with Clippy warnings. (e.g. [`CI #579`](https://github.com/moka-rs/moka/runs/4412710038?check_suite_focus=true)) It can be reproduced locally by running `cargo +beta clippy --features future -- -D warnings` with the latest beta 1.58.

I did `unsafe impl` by purpose because I thought it was correct, but now Clippy is saying unsound. Inves

[2021-12-12 02:32] tatsuya6502 commented on #52
@barkanido — Sorry for not getting back to you sooner. Yes. I believe this is a good first issue.

Here are my initial thoughts. If you have better idea, please let me know.

I actually think Moka should panic when a `Duration` is too big to handle. Moka should not support such a big duration because giving `Duration::MAX` to `time_to_live` might be a programming error as it is about 584 billion y

[2021-12-12 11:05] barkanido commented on #52
sounds reasonable to me.
I now have a passing test:
[code]
thoughts:

- So you think it is better to fail early in the build phase to totally prevent this? Or merely documenting this is a good enough user experience?
- Is there a similar cache in the sync cache?

[2021-12-14 14:24] tatsuya6502 commented on #52
@barkanido — Thanks for working on it.

Yeah. Probably it is better to fail in build phase. e.g. Make `CacheBuilder`'s `time_to_live` and `time_to_idle` to panic when the given `Duration` is longer than 1,000 years.

Then maybe we do not have to use `checked_add` anymore? Hmm. I am not sure.

I am not sure because `Instant` is not a real-time clock (wall clock), but a monotonically increasing cloc

[2021-12-14 14:55] tatsuya6502 commented on #52
It might help to read [the Implementation Details section](https://docs.rs/moka/0.6.1/moka/#implementation-details) in the doc to understand how the expiration is handled.

Here is a summary:

1. When an entry (key-value) is inserted to the hash map, a recording of a write will be pushed to the write-log inter-thread channel.
2. When `sync` is called,
    1. the recording will be popped from the c

[2021-12-16 07:47] barkanido commented on #52
Thanks, @tatsuya6502 .

I have implemented it type-driven by wrapping `quanta::Instant` in a wrapper type that only allows for checked additions. This both guarantees current implementations work on all platforms (as per your concerns) and also guards against future unchecked additions. currently, this forces the caller to handle the overflow issue (handling `None`), hence the panic code is implem

[2021-12-16 08:43] tatsuya6502 commented on #52
Thank for the information. Good to know.

[2021-12-18 08:27] #52 closed

[2021-12-18 11:50] tatsuya6502 commented on #41
Started to use `AtomicCell<u64>` for wight based eviction: https://github.com/moka-rs/moka/pull/24/commits/4404e6fd1cca5d41aa59688b7b67c842425c7be3

[2021-12-27 12:40] niklasf opened #59 "moka::future::Cache::get_or_insert_with() panics if previously inserting task aborted"
When writing a web server, it appears that `hyper::Server` can abort tasks, if the requester has gone away. `moka::future::Cache` does not like that and panics. Is this bug? Or is there a recommended way to deal with it?

Minimized example:

[code]

[code]

Backtrace:

[code]

[2021-12-28 09:30] tatsuya6502 commented on #59
Thank you for reporting. I confirmed the issue and I think it is a bug. I will investigate and fix it.

[2021-12-28 09:38] barkanido commented on #59
Hey @tatsuya6502 lmk if you think I could help here

[2021-12-28 10:49] tatsuya6502 commented on #59
Hi @barkanido — Thank you for the offer. I will do this by myself because this one is a bit tricky to solve. I will need some experiments.

[2021-12-28 13:09] tatsuya6502 commented on #59
This issue will be fixed by PR #60.

After merging the PR, I will start a release process for Moka v0.6.3. I will run a regular pre-release testing, which usually takes 2.5 hours, and If everything goes well, I will publish v0.6.3 to crates.io.

[2021-12-28 13:12] #59 closed

[2021-12-28 15:09] tatsuya6502 commented on #59
Published [v0.6.3](https://crates.io/crates/moka/0.6.3) with the fix to crates.io.

[2021-12-28 19:02] niklasf commented on #59
Wow, thanks for the super fast tournaround on this!

Aside: It looks like in a web service it can still be a good idea to call `get_or_*_insert_with` from a new independent task, so clients cannot stall initialization by causing aborts. At least if other clients may be interested in the same key.

[2022-01-10 20:48] viveshok opened #64 "Memory leak"
Hi team -- thanks for making `moka` available to the world!

I'm having some difficulty using it, for me the cache simply grow till it run out of memory.

Below is a minimum reproducible example. It grows to a few gigs of memory usage after a few minutes. Am I not incantating the cache properly? (thanks for your patience i'm a Rust n00b)

[code]

[2022-01-11 00:53] tatsuya6502 commented on #64
Thank you for reporting the issue with the reproducer! You are using Moka in a correct way. I found Moka is leaking memory in eviction/expiration queues when expiring cached entries.

I believe I just fixed it on a new topic branch. You can give it a try by replacing the dependency in `Cargo.toml` with the following:

**Cargo.toml**

[code]

I will run some pre-release tests on it later today (it

[2022-01-11 10:27] tatsuya6502 commented on #64
FYI, we will apply the same fix to Moka v0.7 and v0.6 lines:

- v0.7: #65
- v0.6: #66

[2022-01-11 11:35] #64 closed

[2022-01-18 01:38] chriskyndrid opened #72 "Memory utilization grows significantly beyond max_capacity() under load"
Thank you for the excellent work on this interesting project. I've implemented Moka in a project I'm working on to utilize as a memory based cache. I'm passing a struct to bincode, encoding it, and storing it the cache, then running the reverse as needed. The system is a web services that utilizes Actix. In practice things are working fine.

However, when I ran a load generating program `wrk` agai

[2022-01-18 03:49] chriskyndrid commented on #72
Here is test code that should allow you to reproduce what I assume is a memory leak somewhere:

[code]

and cargo.toml

[code]

and for generating the work, you can use `wrk`

`wrk -d 100 -t 8 -c 100 http://localhost:8080/v1/test/moka/leak`

On my machine this results in 2.53GB memory utilization.

[2022-01-18 14:54] tatsuya6502 commented on #72
Hi. Thank you for reporting the issue with the test program. I ran the program and generated loads by running `wrk` for 30 minutes. I confirmed the issue and will investigate further.

Here are what I have done so far:

### Test 1:

Ran `wrk` for 30 minutes and recorded the memory consumption of the program by running `top` command every 15 seconds. Found that the `RES` value stopped growing after

[2022-01-18 15:19] chriskyndrid commented on #72
Hi Tatsuya,

Thank you for the thorough information, I appreciate it, and your work on Moka and in resolving issues like this.

The approximations you list in the latter half of your response is helpful for approximating the total size of an entry. I wasn't thinking about the key size, and didn't do any further analysis than the `Vec<u8>` `len()`. I'll use the information you provided in my planni

[2022-01-23 15:48] tatsuya6502 commented on #72
Hi @chriskyndrid,

I made some progress.

To investigate the issue, I modified the source codes of Moka and [moka-cht] (concurrent hash table) to collect and expose some statistics of the internal data structures. I also modified your code to print out these statistics every 15 seconds.

I published the entire project here:

- https://gitlab.com/moka-labs/moka-gh72

(If you are curious, you can tr

[2022-01-23 16:48] chriskyndrid commented on #72
Tatsuya,

This is an excellent synopsis of your investigation. I'm glad the issue turned out to not be a memory leak. It's clear you have a thorough understanding of your design and the intention behind the design. It's also clear you've identified some concrete areas to reduce egregious memory utilization and I'll look forward to monitoring progress on those efforts. Again, thank you for your wor

[2022-02-01 10:17] tatsuya6502 opened #78 "Enable unit tests for `moka::cht::*` modules"
This is a follow up issue for PR #77. It the PR, we imported (copied) some of the source files from moka-cht crate, but there are some remaining action items:

- Update and re-enable unit tests for `moka::cht::*` modules.
- Update the doc.

[2022-02-02 14:30] tatsuya6502 commented on #72
Hi @chriskyndrid,

OK. I pushed some changes for the following items to the `master` branch:

- a. Eliminated the `weak_counts`.
- b. Eliminated the `enum tags`.
- d. Fixed a bug that the LFU filter seems twice as big as necessary.
- e. Enhanced moka-cht hash map to drop `Bucket` and `Key` for a removed entry as soon as possible.

I ran the gh72 program against two different versions of Moka and r

[2022-02-05 07:40] #78 closed

[2022-02-06 05:44] tatsuya6502 commented on #72
Released [v0.7.2](https://crates.io/crates/moka/0.7.2) with these improvements. Also updated the diagram of the internal data structure:

![moka-mem-overhead-v0 7 2-2022-02-06](https://user-images.githubusercontent.com/159403/152669190-8cb43787-a274-4891-a408-217df2f09d72.png)

[2022-02-06 05:44] #72 closed

[2022-02-06 05:48] chriskyndrid commented on #72
Thank you for your work on this!

[2022-02-07 11:43] tatsuya6502 opened #87 "Some cht tests failed for 32-bit MIPS and ARMv5TE targets"
For v0.7.2, we copied some source files of the concurrent hash table (cht) from moka-cht crate and removed moka-cht from the dependencies. When we enabled tests for the cht in Moka, we saw some tests failed for 32-bit MIPS and ARMv5TE targets. We disabled these failing tests and released v0.7.2. https://github.com/moka-rs/moka/pull/86#issuecomment-1030570127

Since then, I have done some investiga

[2022-02-07 11:48] tatsuya6502 commented on #87
# Terminal log from the testing (MIPS)

## On the host

[code]

## In the VM (MIPS)

[code]

[2022-02-07 11:50] tatsuya6502 commented on #87
Closing this issue for now without confirming the one failing test on ARMv5TE. I will reopen if necessary.

[2022-02-07 11:50] #87 closed

[2022-02-20 10:34] Milo123459 opened #92 "Optional feature flag to use a DashMap as opposed to a HashMap"
I'd be happy to implement this.

[2022-02-20 12:32] tatsuya6502 commented on #92
Hi. Thank you for the offer.

Moka's concurrent cache implementations `sync::Cache`, `sync::SegmentedCache` and `future::Cache` do not use `std::collections::HashMap`. They use `moka::cht::segment::HashMap`, which is a lock-free concurrent hash table.

https://github.com/moka-rs/moka/blob/536aff2ede7423b6dd36d673638fbf287f033814/src/cht/segment/map.rs#L19-L20

Are you saying that you want an optio

[2022-02-20 12:49] Milo123459 commented on #92
I was going to implement this into https://github.com/serenity-rs/serenity which uses a DashMap for caching and we were interested in implementing a TTL, so we found this crate. However, due to #34 it sadly looks like we aren't going to be able to use this crate.

[2022-02-20 14:08] tatsuya6502 commented on #92
Thanks. I understood the reason.

Let me add the feature.

There will be some limitations. When the feature is enabled, cache will not support the following methods because `DashMap` does not provide necessary functions:

- `get_or_insert_with` ([doc](https://docs.rs/moka/0.7.2/moka/future/struct.Cache.html#method.get_or_insert_with))
- `get_or_try_insert_with` ([doc](https://docs.rs/moka/0.7.2/mo

[2022-02-20 14:22] Milo123459 commented on #92
Yes, this is all fine! Thank you very much for the swift response.

However, the still major roadblock for us using this library is #34. If that can be resolved (no rush) then serenity will happily move over to using Moka.

[2022-02-20 14:23] Milo123459 commented on #92
Ah, we do need `Iter`. I just checked with some of the people who work on Serenity.

[2022-02-20 14:45] tatsuya6502 opened #93 "Iterating all entries in a cache"
Split from #92. There are some needs for iterating all entries (`(&K, &V)`) in a cache.

[2022-02-20 14:50] tatsuya6502 commented on #92
The issue #34 (segfault) will not occur when this feature is enabled because:

- Segfaults have been occurring only when using `get_or_insert_with` and `get_or_try_insert_with` methods.
    - And these methods will not be available when this feature is enabled.
- Segfaults seem to be occurring in somewhere in external dependencies of `moka::cht::segment::HashMap`.
    - So if Moka uses `DashMap` i

[2022-02-20 14:55] tatsuya6502 commented on #92
Okay. I created #93 "Iterating all entries in a cache". I hope it will not difficult to implement if `DashMap` is used (because `DashMap` already provides iterators. `moka::cht::segment::HashMap` does not)

[2022-02-20 15:37] tatsuya6502 commented on #34
Here are some updates on this issue.

It has been five moths since I first saw this issue, but (fortunately) no user of this crate has reported segfaults:

- Segfaults have been occurring only in my testing environment (Amazon EC2) with 32 or more vCPUs.
- In my testing environment, segfaults have been occurred only when the following methods are used:
    - `get_or_insert_with`
    - `get_or_try_

[2022-02-25 17:43] Milo123459 commented on #92
Hey,

We have discussed some design changes, and we are only going to use Moka as a temporary cache for things that don't update from events. Provided that the segfaults only happen on those functions, DashMap support isn't needed for serenity.

[2022-02-28 01:16] Dessix commented on #92
@tatsuya6502 DashMap does actually provide an equivalent for `get_or_try_insert_with`; it's [`.entry(k).or_try_insert_with(...)`](https://docs.rs/dashmap/latest/dashmap/mapref/entry/enum.Entry.html#method.or_try_insert_with).

[2022-02-28 01:28] Dessix commented on #93
In order to do this locklessly, it's worth noting that either all keys will be sampled once but values may change, or that the iterator may or may not miss keys that were added during iteration. `&V` should be sampled by lookup per-key during a streaming iteration if possible, with now-missing keys skipped if the iterator reaches a pair which is no longer present.

[2022-02-28 01:30] Dessix commented on #34
[MIRI](https://github.com/rust-lang/miri) or [Loom](https://crates.io/crates/loom) may be able to spot the issue, if you use them to test the contracts of the internal HashMap implementation.

[2022-02-28 07:57] Milo123459 commented on #92
Ah, I see. That function is the only one with the vulnerability though?

[2022-02-28 08:03] Dessix commented on #92
I have no idea what you mean by vulnerability. It was mentioned that a functionality was missing- but this was not the case; DashMap is indeed capable of upsert semantics.

[2022-02-28 08:07] Milo123459 commented on #92
Not vulnerability, sorry. I meant does the issue mentioned in #34 only happen on those functions.

[2022-02-28 08:24] Dessix commented on #92
That issue shouldn't happen at all, and I suggested that MIRI and Loom may be capable of isolating the root cause, but they appear to be specific to the HashMap being used by Moka, not the presence nor usage of an upsert function.

[2022-03-09 04:37] BaymaxHWY opened #96 "Docs error: the example about get_or_try_insert_with"
[code]
May need to add comments about futures-util dependencies?

[2022-03-13 20:50] Milo123459 commented on #92
Hey 👋 any updates on this? No rush, just curious.

[2022-03-14 12:01] tatsuya6502 commented on #92
Hi @Milo123459. Sorry, I am not making progress on this yet. I had been busy on some urgent stuff for three weeks and had no time to work on Moka. (These urgent stuff were mainly for my job, but some others for Japanese Rust community)

Now those urgent stuff are basically done and I am going to resume my works on Moka. Let me finish up another work in Moka (#91), which I was working on a month ag

[2022-03-14 14:19] tatsuya6502 commented on #96
Thank you for reporting.

You are right. This should be fixed by #97.

[2022-03-14 14:32] #96 closed

[2022-03-14 19:30] Milo123459 commented on #92
Thanks for the update!

[2022-03-19 11:30] tatsuya6502 commented on #92
Hi @Milo123459 — I started to work on this. I added an optional `moka::dash::Cache` to Moka under Cargo feature `dash`. All unit tests are passing now. You can try it to see if it has everything you need.

To try it, add the following to the `[dependencies]` section of your `Cargo.toml`:

[code]

Then generate the Rust doc using the following command:

[code]

Open `./target/doc/moka/index.html` w

[2022-03-19 11:36] Milo123459 commented on #92
Thank you so much!

Yeah, we still do need the iteration system. Thanks for also running some load tests!

[2022-03-20 07:15] tatsuya6502 commented on #92
I ran the test and no segfault occurred. Merging pull request #99.

[2022-03-20 10:26] tatsuya6502 commented on #93
I am adding iterator to newly added `moka::dash::Cache`, which uses `dashmap::DashMap` as the central storage. Its iterator is a simple wrapper of DashMap iterator, which employs read lock on currently iterating shard of the map.

Here is the pull request:
- #101

At this moment, I think this will be good enough. If somebody wants iterator, they could consider using `moka::dash::Cache`.

I will re

[2022-03-20 10:37] tatsuya6502 commented on #93
This is my current thoughts on iterators for concurrent lock-free caches.

Yeah. It will be very hard to guarantee not to miss keys that were added during iteration.

There may be a way. Moka records operation logs for writes (upserts and deletes) in a channel. These logs are used for batch-updating cache policy’s data structures ([doc](https://docs.rs/moka/0.7.2/moka/#concurrency)). Iterators cou

[2022-03-20 10:53] tatsuya6502 commented on #93
Hi @Milo123459 — I am going to review and merge #101 to add iterator to `moka::dash::Cache`. Once it is merged, you can start trying `dash::Cache` including iterator.

Add the following to the `[dependencies]` section of your `Cargo.toml`:

[code]

Then generate the Rust doc using the following command:

[code]

Open `./target/doc/moka/index.html` with a web browser, and navigate to `moka::dash::C

[2022-03-20 11:46] #93 closed

[2022-03-20 12:19] Milo123459 commented on #92
Hey, I'm getting this issue: https://paste.rs/AHX

It's a bit weird. I think this is related to moka and not serenity.

[2022-03-20 12:24] tatsuya6502 commented on #92
Hi @Milo123459 — Can you please run `cargo update` and see what happens?

[2022-03-20 12:24] Milo123459 commented on #92
Will do. It's updated loads of things, so I have some other issues to fix.

[2022-03-20 12:25] Milo123459 commented on #92
Ah, it worked.

[2022-03-20 12:27] #92 closed

[2022-03-20 12:39] Milo123459 commented on #92
Hi, sorry again. Is there a chance that `moka::dash::Cache` could implement `Debug`?

[2022-03-20 12:51] tatsuya6502 commented on #92
Yes, it could implement `Debug`. Let me work on it later today.

[2022-03-20 12:51] Milo123459 commented on #92
Thank you so much!

[2022-03-20 13:43] tatsuya6502 commented on #92
Hi @Milo123459 — I added `Debug` to `moka::dash::Cache` via #102. Please run `cargo update` again to pull the update from the master branch.

[2022-03-20 13:55] Milo123459 commented on #92
Thank you once more!

[2022-03-21 16:43] tatsuya6502 opened #106 "feat: API stabilization"
## Goals

- Smaller core cache API
- Prefer shorter names for common methods

## Examples

- `get_or_insert_with(K, F)` → `get_with(K, F)`
- `get_or_try_insert_with(K, F)` → `try_get_with(K, F)`
- `blocking_insert(K, V)` → `blocking().insert(K, V)`
- `time_to_live()` → `policy().time_to_live()`

[2022-03-22 01:05] Dessix commented on #92
Will this be included in a release in the near future?

[2022-03-22 01:19] tatsuya6502 commented on #92
Hi @Dessix — Yes. This will be included in next release v0.8.0 as an experimental feature. I am trying to release it by this weekend.

- [Change Log](https://github.com/moka-rs/moka/blob/707f5a6eebb8e2943f10d0cfdb262db88c05a191/CHANGELOG.md#version-080)
- [Milestone v0.8.0](https://github.com/moka-rs/moka/milestone/12)

[2022-03-22 12:30] #106 closed

[2022-03-23 14:52] tatsuya6502 commented on #92
Hi @Milo123459 and @Dessix — I have published [Moka v0.8.0](https://crates.io/crates/moka/0.8.0) with `dash::Cache` to crates.io. Thanks!

[2022-03-31 14:01] razaqq opened #107 "Check for presence of key"
Would it be possible to add a function to check if a key is present without resetting the idle timer?
Pretty much exactly like
https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.contains_key

[2022-04-02 10:05] tatsuya6502 opened #108 "CI: Fix the test coverage job"
The test coverage job is failing:

[Circle CI Job 374](https://app.circleci.com/pipelines/github/moka-rs/moka/388/workflows/9f3cfdbf-348b-4968-bb5b-e6bc8ac182ed/jobs/374)

[code]

Also, need to update the job definition:

[2022-04-02 15:01] #108 closed

[2022-04-03 13:25] tatsuya6502 commented on #107
Thanks for posting the request. It would be a nice addition to the cache. I am working on it via #110.

[2022-04-04 01:20] #107 closed

[2022-04-04 09:36] tatsuya6502 commented on #107
I just published Moka [v0.8.1](https://crates.io/crates/moka/0.8.1) to crates.io. It has `contains_key` method in all cache flavors.

[2022-04-04 14:07] razaqq commented on #107
very nice, thanks alot!

[2022-04-07 13:10] JRAndreassen opened #112 "Iterating cache"
Hi @tatsuya6502 ,

I'm using moka cache (moka::future)...
[code]

It is working well...

What is the best way of iterating through the elements in the list ?

I've looked through the code trying to find a way.
A "keys(&self) -> Vec<Key>" method would work..
Then I can iterate through the normal get...
Thanks...
   JR

[2022-04-08 00:19] tatsuya6502 commented on #112
Hi. Currently (v0.8.1), `moka::future::Cache` does not provide a way to iterate through all entries or retrieve all keys in a cache. There is an experimental cache implementation called `moka::dash::Cache` that has `iter()` method, but it is not optimized for asynchronous use.

Let me spend a few days to explore some options to provide either `iter()` or `keys()` method.

Providing such a method i

[2022-04-08 19:12] JRAndreassen commented on #112
Hi @tatsuya6502 ,

Thanks for looking into it.
The "keys() -> Vec<Key>" would work if it is easier...
  JR

[2022-04-09 06:15] tatsuya6502 opened #113 "Integer overflow detected in a unit test for the `FrequencySketch`"
Integer overflow detected in a unit test.

https://github.com/moka-rs/moka/runs/5951855180

[code]

This case was added 17 months ago via https://github.com/moka-rs/moka/commit/42fb4c8c3e48f746cb5b50a3f8ca06a467ba9be6 and this is first time to fail (as long as I can remember).

Perhaps we will need to replace some `+` with `wrapping_add`.

[2022-04-09 13:58] tatsuya6502 commented on #112
I believe I found a good solution for providing iterators. Although it has some disadvantages (below), I hope it will be good enough for many use cases:

**Disadvantages:**

- It's `next` method may not (or may) return some entries (key-value pairs) if they have inserted after the iterator was created.
- It has some memory overheads as it creates and holds a snapshot of keys (`Vec<std::sync::Weak<

[2022-04-09 14:36] JRAndreassen commented on #112
@tatsuya6502 ,
Iterator works for me..
 if it implements the 'core::iter::Iterator' trait, that would be awesome..

[2022-04-09 15:30] tatsuya6502 commented on #112
@JRAndreassen,

Yes. The `iter` method returns an iterator, which implements the `core::iter::Iteranor` trait. Also `&Cache` implements the `core::iter::IntoIterator`.

So you can either do this (`iter` method):
https://github.com/moka-rs/moka/blob/52c9f55fa516ee4fa3a6dd336a1ad016f8e00235/src/future/cache.rs#L1455

or this (`IntoIterator`):
https://github.com/moka-rs/moka/blob/52c9f55fa516ee4fa3a6

[2022-04-09 22:03] JRAndreassen commented on #112
Sweet...

[2022-04-10 23:16] tatsuya6502 commented on #112
@JRAndreassen — I am going to merge #114 with the iterator supports. Then, I will do some pre-release testing and release v0.8.2 in a day or so. I will let you know when v0.8.2 is released.

[2022-04-10 23:16] #112 closed

[2022-04-11 13:11] JRAndreassen commented on #112
@tatsuya6502 ..
Super awesome..
  JR

[2022-04-12 13:34] tatsuya6502 commented on #112
Hi @JRAndreassen — OK. I have published [Moka v0.8.2](https://crates.io/crates/moka/0.8.2) to crates.io. Please let me know if you have any questions.

[2022-04-12 13:58] tatsuya6502 commented on #93
Just FYI. I added iterators to all other caches via https://github.com/moka-rs/moka/pull/114 because somebody else asked for it (https://github.com/moka-rs/moka/issues/112). I released [Moka v0.8.2](https://crates.io/crates/moka/0.8.2) with them.

For the concurrent caches, I took the simplest design that I could came up with. The iterators do not guarantee to return new keys if they were inserted

[2022-05-10 11:25] BrynCooke commented on #113
I have been hitting this issue and am able to reproduce by running an integration test in a loop.

Looks like it is related to this: https://github.com/metrics-rs/quanta/issues/61

The stacktrace is as follows:
[code]

[2022-05-11 11:02] tatsuya6502 opened #119 "`Cache::get` method sometimes panics in debug build due to an integer overflow in `quanta::instant::Instant::now`"
This issue was reported by @BrynCooke on May 10, 2022 UTC via https://github.com/moka-rs/moka/issues/113#issuecomment-1122263388

* * *
I have been hitting this issue and am able to reproduce by running an integration test in a loop.

Looks like it is possibly related to this: https://github.com/metrics-rs/quanta/issues/61

The stacktrace is as follows:
[code]
The number of times needed to hit thi

[2022-05-11 11:05] tatsuya6502 commented on #113
@BrynCooke — Thanks for reporting the issue. I opened a separate issue #119 to track the panics in Quanta.

[2022-05-11 11:15] tatsuya6502 commented on #119
@BrynCooke

Yeah. It looks like so. From your stack trace, I see `quanta::instant::Instant::now` function is causing the panic.

https://github.com/metrics-rs/quanta/issues/61#issuecomment-1122296177

As a workaround, I am going to add a Cargo feature to Moka to opt-out Quanta.

Also, when I have more time, I will try to reproduce the issue by using AMD based instance at Amazon EC2.

[2022-05-11 11:47] tatsuya6502 commented on #119
**Memo:** I could reuse the codes here: https://github.com/moka-rs/moka/pull/39

[2022-05-14 10:41] tatsuya6502 commented on #119
Working on this workaround via #121. Not quite finished yet.

[2022-05-15 08:22] ClSlaid opened #123 "[feature request] add `Cache::get_with_if(&self, key: &K, fallback: Fut, cond: Fn(&V) -> bool) -> V` method"
I'm building a cache whose entries have their own standalone TTL. However `moka` supports global TTL and IDLE only. So I'm here to propose a new method `Cache::get_with_if(&self, key: &K, fallback: Fut, cond: Fn(&V) -> bool) -> V`

The function works like `Cache::get_with(&self, key: &K, init: Fut) -> V`, but when the key does not exist or `cond(&V)` is true, the `init` clojure will be called to i

[2022-05-15 08:58] tatsuya6502 commented on #119
Hi @BrynCooke,

I have published [Moka v0.8.3](https://crates.io/crates/moka/0.8.3) to crates.io. Now you can opt out Quanta crate by adding `default-features = false` to the Moka dependency in your Cargo.toml. For more details, please see [this section](https://github.com/moka-rs/moka#integer-overflow-in-quanta-crate-on-some-x86_64-machines) of the README.

Hope this helps.

I will keep this GH I

[2022-05-15 09:41] BrynCooke commented on #119
@tatsuya6502 Thanks for sorting this out so quickly!

[2022-05-16 00:49] tatsuya6502 commented on #123
Thank you for proposing `get_with_if` method. I think it will be easy to implement. Let me work on it.

You are right. Per-entry expiration is on [our roadmap](https://github.com/orgs/moka-rs/projects/1/views/1) but currently scheduled very late. (The item 10: "(post v1.0) feat: The variable (per-entry) expiration, using a hierarchical timer wheel")  I will probably give it more priority. But anyw

[2022-05-17 13:02] ClSlaid opened #125 "[question] The lazyness of expiration"
Hello maintainer, I'd like to know whether the expiration of cache is `lazy` or `active`.
By `lazy` I mean not until getting on the expired entry or other scenarios that have to remove it, the entry will be preserved in the cache;
Corresponsively by `active` I mean if the entry outlived its TTL or IDLE, the entry will be instantly evicted.
I've also used this crate to build a server-side connectio

[2022-05-18 01:48] tatsuya6502 commented on #125
Hi. Thank you for using Moka.

1. The expiration is `lazy` by design, so expired entries will be preserved in the cache for a short period of time.
    - As of v0.8.3, they will be usually removed from the cache within 300 milliseconds after expiration, but this delay can get longer if the cache is receiving very heavy reads and/or writes from clients.
    - The 300 ms delay is currently hard-code

[2022-05-18 02:00] ClSlaid commented on #125
Thanks for your reply, I think preserving an evicted connection for less than 3s is ok (after all the pool is just a toy project), and it seems hardly occur.

[2022-05-18 02:25] tatsuya6502 commented on #125
Congratulations! 🎉

I wish I had more time to write design docs, so all you can read now are:

- The one that I already mentioned: https://docs.rs/moka/latest/moka/#implementation-details
- A wiki page about admission and eviction policies: https://github.com/moka-rs/moka/wiki
- And the source code.

Moka's design is heavily inspired by the Caffeine library for Java. So you can learn the base desi

[2022-05-19 00:48] #123 closed

[2022-05-19 14:36] tatsuya6502 commented on #34
Here are some updates on this issue.

- Segfaults are occurring only in my testing environments.
    - Nobody else has been reported this or similar issues.
- With unmodified Moka's source codes, I need an Amazon EC2 instance with 32 or more vCPUs to reproduce this issue.
- If I modify Moka's source codes to reduce [the number of internal segments of our HashMap](https://github.com/moka-rs/moka/bl

[2022-05-19 19:21] fbernier opened #128 "Feature request: Add an `eviction_callback` parameter to the cache builder"
Hey there, first and foremost thanks for moka!

I currently have this use case where I have other data structures I need to keep in sync with a moka cache. One way I though of doing this is the cache builder could support a new `eviction_callback` method which takes a closure that is called every time there is a cache eviction, with ideally both the key and value as parameters to the closure. Do y

[2022-05-19 22:54] tatsuya6502 commented on #128
Hi. Yes, notification on evictions is on [our road map](https://github.com/orgs/moka-rs/projects/1/views/1) ("feat: Notifications on eviction, etc."). I just moved it up to second on the road map list (from sixth). I will start to work on it in next week.

[2022-05-20 01:02] tatsuya6502 commented on #34
This workaround is added via #129.

[2022-05-20 11:12] tatsuya6502 commented on #123
Hi @ClSlaid — I have published [Moka v0.8.4](https://crates.io/crates/moka/0.8.4) to crates.io with the `get_with_if` method. Thanks!

[2022-05-20 11:15] tatsuya6502 commented on #119
Hi @BrynCooke — I have published [Moka v0.8.4](https://crates.io/crates/moka/0.8.4) to crates.io. It depends on the latest Quanta v0.10.0 that has the fix for the panic issue. Please try Moka v0.8.4 when you have time. Thanks!

[2022-05-20 20:03] lilyball opened #131 "`<Cache as Clone>` has overly-restrictive trait bounds"
The various `Cache` types derive `Clone`, which means they require `where K: Clone, V: Clone, S: Clone`. This is overly restrictive. Since the underlying `BaseCache` on each type has no trait bounds on their `Clone` impls, the `Cache`s don't need them either.

Besides being annoying, this also means that the cache key needs to be cloneable in order to clone the cache, even though this is not other

[2022-05-20 20:08] lilyball opened #132 "`Cache` missing `Debug` impl"
The `Cache` types are all missing `Debug` impls, which is annoying. I'm not sure what offhand such an impl should show, but perhaps some basic stats about the cache if that's easy to gather.

[2022-05-21 03:37] tatsuya6502 commented on #131
Thank you for reporting the issue.

As a short answer, I will remove `Clone` from `K` as it was added by mistake, but will keep `Clone` for `V` and `S`.

- Remove `Clone` from `K` in all caches. It was added by mistake.
- Keep `Clone` for `V` and `S` in all caches except `unsync::Cache`. (no change)
   - Removing `Clone` from `V` is not possible for these concurrent caches.
   - Removing `Clone` f

[2022-05-21 14:00] #131 closed

[2022-05-23 11:19] VladimirBramstedt opened #135 "expose raw hash APIs"
I have a use case where i want to cache an object which is keyed by a pretty large object that is deserialized. calculating the hash for this key is already done as part of deserializing and parsing,and it would be a substantial performance gain to not have to rehash it.  i saw that there are in fact functions that are currently `pub(crate)` such as `get_with_hash` or `insert_with_hash`. would it

[2022-05-23 12:04] tatsuya6502 commented on #135
Hi. Thank you for using Moka.

It would not be necessary to expose these APIs. You can write your oun hasher, which simply pass-through the pre-calculated hash value. And then you can give the hasher to the cache. Here is an example:

[code]

Will this trick work for you?

[2022-05-23 13:07] VladimirBramstedt commented on #135
it would, but i would think it is perhaps more ergonomic to provide something similar to the raw_entry API from hashbrown https://docs.rs/hashbrown/latest/hashbrown/raw/struct.RawTable.html#method.insert, etc, especially if these functions are already implemented.
its a bit a question of API, i guess.

[2022-05-23 14:07] tatsuya6502 commented on #135
Unfortunately, exposing `sync::Cache`'s `get_with_hash` and `insert_with_hash` does not solve your problem.

Like many other hash tables, Moka cache's internal hash table re-calculates hash values of existing keys when it resizes (reallocates) the storage area for growth. This operation is called [rehashing](https://en.wikipedia.org/wiki/Hash_table#Resizing_by_moving_all_entries). So even though,

[2022-05-23 14:29] VladimirBramstedt commented on #135
ah, i missed that. thanks a lot :)

[2022-05-23 14:29] #135 closed

[2022-05-23 22:57] tatsuya6502 commented on #132
Thank you for reporting this issue.

I started to work on this as #134 and made the `Debug` impl to show some basic stats. But while I was writing an example for the doc, I realized this will confuse users as these stats are eventual consistent (will show stale numbers).

[code]

These are kept eventual consistent to improve performance ([doc](https://docs.rs/moka/0.8.4/moka/#implementation-detail

[2022-05-23 23:20] lilyball commented on #131
Thank you for the detailed explanation. It looks like you actually removed all the bounds from the `Clone` impls anyway so that's good.

More generally it would be nice to remove bounds from methods where they aren't necessary. For example, all of the `moka::future::Cache` methods require `V: Clone` even though AFAIK this is only actually necessary on the getters. Similarly methods like `iter()` s

[2022-05-23 23:40] tatsuya6502 commented on #131
Yes, I did.

In my previous comment, I meant I cannot remove these bounds (e.g. `V: Clone`) from `new` function for example, so nobody will not be able to create a cache when `V` is not `Clone`, thus nobody can clone it.

Okay. I think I got your point. Thank you for explaining it.

I will create a separate issue for removing unnecessary bounds from some methods and do it. I think I have done for

[2022-05-23 23:45] lilyball commented on #132
If it's easy enough to show those and won't be too expensive then that sounds fine to me. It just bothered me that my type that has a cache couldn't show anything at all about it.

It looks like #134 is adding methods to query for these stats, which I appreciate as it means I have the option of showing those after all if it suits my usage better.

[2022-05-24 01:15] lilyball opened #136 "Request: Some way to determine if `future::Cache::get_with()` returned cached or fresh value"
I want to know if `future::Cache:get_with()` returned a cached or a fresh value. This is important for logging purposes. I imagine there are workarounds I could do involving heap-allocating a mutable boolean, setting it in the future I pass to the function, and testing it when the function returns, but that's very awkward. It would be great if the cache could simply tell me whether it was fresh or

[2022-05-24 10:14] BrynCooke commented on #119
I had a go and can no longer reproduce the issue. Thanks @tatsuya6502!

[2022-05-25 12:22] tobz commented on #119
Glad to hear the issue is fixed. 👍🏻

[2022-05-25 13:04] #132 closed

[2022-05-26 17:21] Milo123459 opened #140 "Are there certain dependencies that can be removed?"
Currently, moka has a lot of dependencies. I was wondering if there were any that could be replaced. I'd love to work on this.

[2022-05-26 17:27] lilyball commented on #136
It occurs to me that the future given to `get_with` doesn't have the `'static` bound so I probably can just stuff a boolean on the stack. That certainly makes it easier, it would just be more elegant if moka could tell me directly.

[2022-05-26 22:00] tatsuya6502 commented on #136
Technically, this will be very easy to implement. `get_with` internally tracks whether the value was fresh or cached ([code](https://github.com/moka-rs/moka/blob/ee069effd6042941433d2ca019242e037a57cd50/src/future/cache.rs#L948-L960)), so it is easy to return such information as a part of the return value. For example, `get_with` could return a tuple `(V, bool)` where `bool` indicates whether `V`

[2022-05-26 22:24] ben-manes commented on #136
Ideally the caller doesn't need to know for business logic purposes and we shouldn't corrupt our apis if only for debug logging. The main reason would be for stats, which in Caffeine has a pluggable `StatsCounter` for the cases it records. The APIs can't be perfect so the goal has to be low conceptual weight, correctness / maintainability, and allowing users to solve their core problems. If the la

[2022-05-27 20:47] tatsuya6502 commented on #140
Hi. Thank you for the offer. Well, all these dependencies are in-use, of course. However if you only use `moka::dash::Cache` in `serenity`, you could remove the following dependencies from `moka`:

- `crossbeam-epoch`
- `uuid`
- `thiserror` (but `serenity` already depends on it)

To do that, you will need the followings:

1. Add a crate feature called `sync` to `Cargo.toml`, and add it to the defa

[2022-05-28 08:13] Milo123459 commented on #140
https://github.com/moka-rs/moka/pull/141 made the pr!

[2022-05-28 11:56] tatsuya6502 commented on #132
Hi @lilyball — I have published [Moka v0.8.5](https://crates.io/crates/moka/0.8.5) to crates.io containing this and some other changes. Thanks!

- [CHANGELOG Version v0.8.5](https://github.com/moka-rs/moka/blob/master/CHANGELOG.md#version-085)

[2022-05-28 14:10] tatsuya6502 commented on #140
Thanks for making the PR #141. Hmm, there are so many compile errors.

After a brief review, I noticed a couple of things:

1. `moka::dash::Cache` actually depends on the following crates, so we cannot remove them:
    - `uuid`
    - `thiserror`
2. `moka::dash::Cache` actually depends on some modules under `moka::sync`, so we cannot simply disable then even though no `sync` or `future` feature are

[2022-05-28 14:11] Milo123459 commented on #140
Are you sure you want to take it over?

Either way, thank you!

[2022-05-28 14:19] tatsuya6502 commented on #140
Yeah. I will take it over as I will need to move some modules around. I merged #141 into a new topic branch [gh141-optout-sync](https://github.com/moka-rs/moka/tree/gh141-optout-sync).

[2022-05-28 16:21] tatsuya6502 commented on #140
I am doing some experiments here in [gh141-experiments](https://github.com/moka-rs/moka/compare/gh141-experiments) branch. It is almost working. I will continue working tomorrow as it is midnight now in my timezone.

I found the following is not true:

So I was able to remove `uuid` and `thiserror` crates when both `sync` and `future` features are not specified.

[2022-05-29 07:23] tatsuya6502 commented on #140
OK. I have created two PRs:

1. #142
2. #143

I already merged #142, which was for moving some modules around.

#143 is for the `sync` feature and contains your commits and my commits. Disabling the `sync` feature (as well as `future` feature) will remove the following dependencies from `moka`:

- `crossbeam-epoch`
- `uuid`
- `thiserror`

I will come back in a couple of hours for reviewing the PR

[2022-05-29 11:37] tatsuya6502 commented on #140
I reviewed and merged PR #143 into the `next` branch. I will keep this issue open until the PR gets merged into the `master` branch.

[2022-05-30 16:46] tatsuya6502 commented on #128
FYI. I started to work on this via the following pull request:

- #145

[2022-06-06 19:41] ben-manes commented on #128
@tatsuya6502 I'm always excitedly curious to see what you do, so took a peek at the work.

I noticed that your eviction listener differs slightly in execution semantics to Caffeine's. I thought it might help if I clarify the history and intent of our api, though freely ignore our semantics.

The cache originally offered a `RemovalListener` for any cause, which is invoked outside of any cache locks

[2022-06-07 20:06] metasim opened #146 "Allow limiting the number of threads spawned for housekeeping and invalidation."
Not sure how to express this (through the builder)? But for small resource use cases it would nice to limit the number of threads used.

[2022-06-09 00:43] tatsuya6502 commented on #128
Thanks @ben-manes for sharing your experience and insight. I am learning lots from them!

As you might have already seen, current implementation is similar (but not the same) to Caffeine's `RemovalListener`:

- It is non-blocking.
- It defers notifications to a thread pool.

and I noticed that unordered events for a key can cause the issue you said:

So I made the example in the doc to avoid the i

[2022-06-09 02:03] tatsuya6502 commented on #146
Thanks for raising the request. Exposing these configurations should be easy, so I will just do it.

These thread pools are shared across all cache instances, so these limits will be cache-global configurations. Also, the thread pool library we use now does not support growing and shrinking the number of worker threads. So for now, they will be _fixed numbers_ of worker threads, instead of _limits

[2022-06-11 22:04] UnknownEclipse opened #147 "Conditional Eviction Callback"
Hi! First, thanks so much for building moka! I recently encountered a situation where, when storing large cached values in Arc<T>, the cache would evict an entry while it was still shared, so getting it again would result in a cache miss, despite that object still being alive elsewhere. A rough idea I had for countering this is to allow setting a conditional eviction callback in the cache builder

[2022-06-13 01:26] tatsuya6502 commented on #128
HI @fbernier, Which cache are you using? (`sync::Cache` or `future::Cache`?)

I found that supporting blocking notification in `future::Cache` will require non-trivial amount of work. I will have to duplicate a couple thousands code with regular `fn`s and sync locks and convert them into `async fn`s and async locks. I am still checking if there are any other ways to minimize the changes though.

I

[2022-06-14 01:50] MrCroxx commented on #128
Hi folks, thanks for your efforts on building such a good lib. 🥰 I'm also a user that needs this feature with `future::Cache`. I'd like to try it first. Is using the branch of #145 okay now?

[2022-06-14 03:06] tatsuya6502 commented on #128
Hi @fbernier,

It is great to hear! Thanks.

[2022-06-14 03:23] tatsuya6502 commented on #128
Hi @MrCroxx,

Yes, the branch [eviction-listener](https://github.com/moka-rs/moka/tree/eviction-listener) should be ready for you. I will add few more changes in next few days but it will be good enough now already.

[code]

To use the eviction listener, see the "Eviction Listener" example in the doc comment: https://github.com/moka-rs/moka/blob/eviction-listener/src/future/builder.rs#L55

You may

[2022-06-14 03:29] ben-manes commented on #128
I had forgotten about async caches and synchronous removal listening in my earlier message. That’s a great reason to not support a generic synchronous listener for explicit removals. For evictions an in-flight future should probably be skipped so a synchronous callback is viable. That is how Caffeine gets around this, where futures are ineligible for eviction until complete.

[2022-06-16 23:09] 707090 opened #148 "Update documentation"
The examples reference methods `blocking_insert` and `blocking_invalidate` which do not exist. Instead update documentation to reference `BlockingOp::insert` and invalidate

[2022-06-18 09:18] tatsuya6502 commented on #148
Thank you for reporting. I have updated the docs via #151.

[2022-06-18 09:18] #148 closed

[2022-06-19 00:29] tatsuya6502 opened #153 "Flaky test `cht::segment::tests::drop_many_values` under Cargo Tarpaulin"
Test `cht::segment::tests::drop_many_values` is failing occasionally when executed under Cargo Tarpaulin. Perhaps the timings of dropping invalidated cache keys are affected by Cargo Tarpaulin in a non-deterministic way (?)

https://app.circleci.com/pipelines/github/moka-rs/moka/520/workflows/ad175a12-9d63-4a20-b10d-d3dad9b78a81/jobs/506

[code]

[2022-06-22 10:00] tatsuya6502 commented on #147
Hi. Sorry for the late reply, and thank you for the request. Your idea seems feasible to me.

Before we talk about your idea, let me explain how Moka cache works.

When cache's capacity is exceeded, there are two timings when entry can be evicted:

1. **Right after the insertion:** An entry can be evicted by the historic LFU (Least Frequently Used) filter.
    - This filter prevents unpopular key

[2022-06-24 13:48] Geal opened #154 "high resource usage in the housekeeper"
hi, we're using moka in a [query cache in the Apollo router](https://github.com/apollographql/router/blob/main/apollo-router/src/services/layers/apq.rs), and we are seeing high CPU usage in the housekeeper code, as shown in that flamegraph of a benchmark that uses one core and does not insert or get anything from the moka cache(the large tower on the left is the housekeeper):
![flamegraph](https:/

[2022-06-24 14:02] bsdinis opened #155 "Bug in `moka::future::Cache::invalidate_all`? Elements not being invalidated immediatelly."
Hi.

According to the documentation of `invalidate_all`:

[code]

From this I surmised that, even though the actual removal of elements occurs in the background, they would be somehow marked as invalid, and as such a subsequent `get` would not see them.

However, this does not seem to be happening. Here's a small minimal example that exemplefies this

[code]

This fails in the last line (the get r

[2022-06-25 11:57] tatsuya6502 commented on #155
Thank you for reporting the bug. I was aware of it when I implemented `invalidate_all` function, but I have never had a chance to fix it and then forgot.

I fixed the bug with #156, and will release Moka v0.8.6 after I finish running a pre-release testing.

The root cause of the bug was that a cache entry's `last_modified` timestamp was not set to the current time when it was inserted to the cache

[2022-06-26 15:18] tatsuya6502 commented on #154
Hi. Thank you for reporting the issue.

Which OS and CPU architecture did you use? Perhaps Linux x86_64? And you were using a multi-core machine, right?

When moka cache is not busy (including idle), its housekeeper task will run every 0.3 seconds. If cache is idle, it will spend very little time to run because there is no work to do. I see it takes only 0.05% of the space in the flamegraph.

![ho

[2022-06-26 15:50] Geal commented on #154
It's on linux x86_64 yes

[2022-06-27 13:12] tatsuya6502 commented on #155
Hi @bsdinis. I have published Moka [v0.8.6](https://crates.io/crates/moka/0.8.6) to crates.io with the fix. Thanks!

[2022-06-28 08:24] SimonSapin commented on #34
`Cargo.toml` points here:
https://github.com/moka-rs/moka/blob/8f61b35a200621db975a9f25ce459f05bfa9a393/Cargo.toml#L52-L55

crossbeam-epoch 0.8.2 depends on crossbeam-utils 0.7.x, which is affected by https://github.com/crossbeam-rs/crossbeam/pull/781

Is the work around in https://github.com/moka-rs/moka/pull/129 to upgrade moka’s dependency of crossbeam-epoch?

[2022-06-28 12:51] tatsuya6502 commented on #34
Hi @SimonSapin,

Thank you for the information.

No. I do not think so, unfortunately.

I have another Moka repository here and it has crossbeam-epoch upgraded to v0.9.9:

- https://gitlab.com/moka-labs/moka-gh-issue-34-segfaults/moka/-/tree/crossbeam-epoch-0.9

and I ran the same test on both Moka with crossbeam-epoch v0.8.2 and v0.9.9. I found Moka with crossbeam-epoch v0.9.9 is still having the

[2022-06-28 22:27] tatsuya6502 commented on #34
FYI, I created a draft pull request #157 to upgrade crossbeam-epoch from v0.8.2 to v0.9.9. I scheduled it for next patch release Moka v0.8.7.

As I wrote in the PR, I will run some mokabench tests before merging it. I will be able to run mokabench for 6 hours a day (during night), so if everything goes well, the test will complete in 4 days (total 24 hours).

[2022-06-28 23:06] tatsuya6502 commented on #154
A quick update:

I am currently investigating why the system spent lots of time in Linux `futex_wait` while all worker threads in the thread pool were mostly sleeping.

I created a testing environment at Amazon EC2, but have not had time to write a test program to reproduce the issue:

- Ubuntu Server 22.04, 4 vCPUs
- In the env, I confirmed that I can generate flamegraphs including kernel stacks

[2022-06-29 10:03] Geal commented on #154
maybe it's a function of how busy the CPUs are yes. In my initial tests I limit the number of cores used by the router like this: https://github.com/apollographql/router/blob/main/apollo-router/src/executable.rs#L139-L146
(it's necessary because it's hard to saturate the router with traffic if it has access to all cores)

[2022-07-04 14:13] tatsuya6502 commented on #128
Sorry for some delay. I could not find enough time for working on this during weekdays.

But finally, I think https://github.com/moka-rs/moka/pull/145 is now ready for merge. I will self-review it in tomorrow morning (I live in China mainland UTC+0800 and its 10pm now) and will merge it if I do not see any issue.

I implemented the blocking and non-blocking modes to the `sync` caches, and implemen

[2022-07-04 22:55] tatsuya6502 opened #160 "feat: Notifications on eviction, etc."
## Summary

Add support for eviction listener.

- This feature was requested by users:
    - #128
- and implemented by:
    - #145

## Remaining Tasks

Due to time constraints, we could not implement the following features. They will be covered by future releases.

- Support `DeliveryMode::Immediate` in `future::Cache`.
- Send notifications without using thread pool.

[2022-07-04 23:52] tatsuya6502 commented on #140
Closing this issue as the `next` branch was merged into the `master` branch.

I will run some pre-release testing, and if everything goes well, I will publish Moka v0.9.0 to crates.io.

[2022-07-04 23:52] #140 closed

[2022-07-04 23:54] tatsuya6502 commented on #128
Closing this issue as I merged PR #145 into the `next` branch, and then merged the `next` branch into the `master` branch.

I will run some pre-release testing, and if everything goes well, I will publish Moka v0.9.0 to crates.io.

[2022-07-04 23:54] #128 closed

[2022-07-04 23:55] tatsuya6502 commented on #160
Closing this issue as I merged PR #145 into the `next` branch, and then merged the `next` branch into the `master` branch.

[2022-07-04 23:55] #160 closed

[2022-07-05 11:22] tatsuya6502 commented on #140
@Milo123459 — I have published [Moka v0.9.0](https://crates.io/crates/moka/0.9.0) to crates.io :tada:

[2022-07-05 11:25] tatsuya6502 commented on #128
@fbernier @MrCroxx

I have published [Moka v0.9.0](https://crates.io/crates/moka/0.9.0) to crates.io.

Documents:

- `sync::Cache` — [Example: Eviction Listener](https://docs.rs/moka/0.9.0/moka/sync/struct.Cache.html#example-eviction-listener)
- `future::Cache` — [Example: Eviction Listener](https://docs.rs/moka/0.9.0/moka/future/struct.Cache.html#example-eviction-listener)

[2022-07-05 13:52] MrCroxx commented on #128
Thanks a lot! Happy to hear that and can't wait to try! 🥰

[2022-07-07 14:23] yanns opened #162 "Vulnerable to CVE-2022-23639?"
I'm wondering if moka is vulnerable to https://github.com/advisories/GHSA-qc84-gqf4-9926 (https://github.com/crossbeam-rs/crossbeam/pull/781)

Dependency tree:
[code]

I could also see that staying with the v0.8.2 is a conscious decision: https://github.com/moka-rs/moka/blob/master/Cargo.toml#L68-L71
In that case, we would need a fix for https://github.com/moka-rs/moka/issues/34 first.

[2022-07-07 17:59] tatsuya6502 commented on #162
Hi. Thank you for creating the issue. I noticed that GitHub Dependabot has started to alert about CVE-2022-23639 to everyone who have the affected crossbeam-utils versions in the `Cargo.toml` in their GitHub repository.

Let me check whether moka is really affected by it or not.

Maybe I will have to talk to the crossbeam team. I will do it in tomorrow morning if necessary. (It is ~2 AM now in my

[2022-07-07 22:48] tatsuya6502 commented on #162
Apparently not.

GHSA-qc84-gqf4-9926 says the followings:

I got the source code of crossbeam-utils v0.7.2 and removed `AtomicCell` from it. I verified that crossbeam-epoch v0.8.2 still compiles, so it does not use `AtomicCell`.

Here is what I did:

### Create a test package and expand crate sources

[code]

Edit `./src/main.rs` and add the following line:

[code]

Edit `./Cargo.toml` and modify

[2022-07-07 22:52] tatsuya6502 commented on #162
To make GitHub Dependabot happy, I am going to talk to the crossbeam team if they could create a new version of crossbeam-epoch v0.8.x that depends on a fixed version of crossbeam-utils (>= v0.8.7).

[2022-07-08 01:40] tatsuya6502 commented on #34
Unfortunately, I found that upgrading crossbeam-epoch to v0.9.9 would actually make this issue worse on Linux x86_64. It occurred ~15% more often with v0.9.9 than v0.8.2. So I am hesitate to merge the PR.

Just for sure, I will do the same test again during this weekend.

[2022-07-08 06:57] yanns commented on #162
Thanks for the check, good to know that moka is not vulnerable! 💯

[2022-07-08 07:38] Geal commented on #154
the cache-tools branch is about factoring the various cache implementations in the router (there were 5 different ones when I started that work :sweat_smile: ) around one cache interface that can have multiple levels, in memory and external (redis, memcached).
We have not decided to move away from moka yet, we're evaluating cache libraries that we can fit in that model. If we find a good library t

[2022-07-09 09:48] tatsuya6502 opened #166 "Implications of `Arc<K>: Borrow<Q>`"
### Discussed in https://github.com/moka-rs/moka/discussions/163

<div type='discussions-op-text'>

<sup>Originally posted by **JayKickliter** July  9, 2022</sup>
For my particular use case I'm finding `moka::sync::Cache` requirement of `Arc<K>: Borrow<Q>` very restrictive, as my keytype is somewhat expensive to create. Is this an absolute requirement for this kind of cache or an implementation de

[2022-07-11 12:00] tatsuya6502 commented on #154
Hi. Think you very much for sharing your thoughts. I am not aware of any library that handles the multi level (tiers) of caches in Rust, but I hope you will find one. I have not got idea how the tiered cache in the cache-tool branch would work. I will read the code closely and try to figure out.

In the latest version of Moka (v0.9.0), I added support for eviction listener callback function. That

[2022-07-11 12:14] tatsuya6502 commented on #154
I am working on it here: https://github.com/moka-rs/moka/pull/165

You can try it by doing the followings:

Modify `Cargo.toml`:

[code]

When creating a cache instance, set `thread_pool_enabled` to `false` using the cache builder.

[code]

For backward compatibility, `thread_pool_enabled` is set to `true` by default. We will change the default to `false` in the future (v0.10.0?).

[2022-07-12 23:12] tatsuya6502 commented on #166
I found a solution for `sync` and `future` caches. I am working on it here:

- #167
    - [Added unit test](https://github.com/moka-rs/moka/pull/167/files#diff-3eee177f538ae36c5dc747eb92f8b63b850012a55c7289c3f660d11971fb211eR2952)

If it goes well, I will publish Moka v0.9.1 with the solution.

[2022-07-13 18:48] SimonSchneider commented on #125
This one could be something we are actually noticing. Our cache entries are quite large and not that many so having about ~100 of them hanging around might look like a memory leak to us. Is there any way to mitigate this?

[2022-07-17 09:34] gitmalong opened #168 "dash Cache has no `get_with`"
or am I missing something?
Edit: Noticed there is `get_or_insert_with`

[2022-07-17 14:50] tatsuya6502 commented on #166
I am closing this issue.

- Resolved for the `sync` and `future` caches via #167:
    - I published Moka [v0.9.1](https://crates.io/crates/moka/0.9.1) with the this fix.
- Won't fix for the `unsync` and experimental `dash` caches:
    - I could not find a way to fix it for them without modifying the source codes of `std::collections::HashMap` (for the `unsync` cache) and `dashmap::DashMap` (for th

[2022-07-17 14:50] #166 closed

[2022-07-19 10:32] tatsuya6502 commented on #34
Finally, I believe I fixed this issue via #157.

Last week, I got a new x86_64 based Linux PC with 20 logical cores (Intel Core i7-12700F), and it helped me a lot to reproduce and investigate the issue. I found the cause of the issue last night and fixed it. After the fix, I have never been able to reproduce the issue again on both the PC (Linux x86_64) and Mac (macOS arm64).

The cause was race c

[2022-07-19 10:38] #34 closed

[2022-07-19 16:54] TennyZhuang commented on #162
@tatsuya6502 In fact the issue can be closed in the v0.9.2, can you publish the version to crates.io? I see that the version in repo is already bumped. Thank you so much for the fix!

[2022-07-19 18:21] tatsuya6502 commented on #162
@TennyZhuang — Yes. I will publish v0.9.2 to crates.io soon. I am currently running a pre-release test. It will be finished in four hours from now.

[2022-07-19 23:29] tatsuya6502 commented on #34
I have published v0.9.2 with this fix to crates.io.

[2022-07-19 23:45] tatsuya6502 commented on #162
Closing this issue as moka [v0.9.2](https://crates.io/crates/moka/0.9.2) has been published to crates.io. It has the crossbeam-epoch dependency upgraded from v0.8.2 to the latest v0.9.9.

If you got a security alert about CVE-2022-23639 for crossbeam-utils when using an earlier version of moka, you can do one of the followings:

- Upgrade your dependency to moka v0.9.2.
- Or, run `cargo tree -i cr

[2022-07-19 23:45] #162 closed

[2022-07-20 00:40] tatsuya6502 commented on #125
@SimonSchneider

Sorry for not getting back to you sooner.

I wonder if we could mitigate it by using the [`flush`](https://docs.rs/crossbeam-epoch/0.9.9/crossbeam_epoch/struct.Guard.html#method.flush) method of `crossbeam_epoch::Guard`.

We use the "deferred functions" to drop entries removed from cache.

Let me try it in next few days. I will measure performance impacts for both memory usage and

[2022-07-20 00:50] tatsuya6502 commented on #168
Hi. You are right; `dash::Cache` has no `get_with` (or `get_or_insert_with`).

A bit of history; we added the experimental `dash::Cache` for the following reasons:

1. A user wanted to ensure never to get an issue: #34
    - The segmentation fault was occurring in our concurrent lock-free hash table implementation `moka::cht`.
    - `moka::cht` is used by `sync` and `future` caches.
2. The same us

[2022-07-21 07:08] SimonSchneider commented on #125
No worries, thanks for getting back to me.

Thank you for looking into it! Sounds like an approach that could work.

[2022-07-21 13:58] tatsuya6502 commented on #125
As for the `flush` stuff, I am working on it here: https://github.com/moka-rs/moka/pull/169

[2022-07-23 10:16] tatsuya6502 commented on #168
I am closing this. Feel free to reopen if you find `sync::Cache` or `future::Cache` do not meet your requirements.

[2022-07-23 10:16] #168 closed

[2022-07-23 17:17] tatsuya6502 opened #171 "CI: Run Linux AArch64 tests on real hardware"
Currently, we are using QEMU's user mode emulation to run tests for Linux AArch64 target on x86_64 host, but it does not seem to emulate weak memory ordering in such an environment (https://github.com/crossbeam-rs/crossbeam/issues/837).

Moka's lock-free concurrent hash table utilizes weak memory ordering whenever possible, so it would be better to run CI on real AArch64 hardware.

[Cirrus CI](htt

[2022-07-24 09:00] tatsuya6502 commented on #125
I merged #169 into the master branch. I will release it as a part of [v0.9.3](https://github.com/moka-rs/moka/milestone/24).

Closing this issue.

[2022-07-24 09:00] #125 closed

[2022-08-04 12:07] tatsuya6502 commented on #125
Sorry, it took longer than I thought. But I have published [Moka v0.9.3](https://crates.io/crates/moka/0.9.3) to crates.io.

[2022-08-04 12:15] tatsuya6502 commented on #154
I have published [Moka v0.9.3](https://crates.io/crates/moka/0.9.3) with this feature. ([doc](https://docs.rs/moka/0.9.3/moka/sync/struct.CacheBuilder.html#method.thread_pool_enabled))

I will keep this issue open to investigate the original issue. It will do it when I have more time.

[2022-09-01 16:30] losfair opened #176 "Memory leak after `moka::sync::Cache` is dropped"
After a `sync::Cache` is dropped, it seems like some memory is not freed.

Reproduce:

[code]

and run it with Valgrind:

[code]

[2022-09-02 10:36] tatsuya6502 commented on #176
Thank you so much for reporting the issue. I verified the memory leak at `drop`. I will definitely fix the last one below, which should be a bug. Others might be expected but I will check to see if they can be mitigated.

### No memory lost

[code]

[code]

### 76 bytes lost

This is expected.

[code]

[code]

## 1,228 bytes lost

[code]

[code]

## 80,000 bytes lost

This is unexpected (bug).

[c

[2022-09-03 08:05] tatsuya6502 commented on #176
Hi @losfair,

Sorry for the bug. I have fixed the last one with "80,000 bytes lost" via #177. Now running your reproducing code with `valgrind` prints the followings:

[code]

For the "possibly lost" stuff, you could mitigate it by calling `CacheBuilder`'s [thread_pool_enabled](https://docs.rs/moka/0.9.3/moka/sync/struct.CacheBuilder.html#method.thread_pool_enabled) method with `false`:

[code]

T

[2022-09-03 08:10] #176 closed

[2022-09-03 16:41] losfair commented on #176
Thank you so much for the quick fix!

[2022-09-05 11:31] tatsuya6502 commented on #176
I have published [Moka v0.9.4](https://crates.io/crates/moka/0.9.4) to crates.io.

[2022-09-12 08:43] ClSlaid commented on #171
/assignme

[2022-09-12 08:45] tatsuya6502 commented on #171
@ClSlaid — Thank you for the offer. I have not done any further research on this. Maybe I have to create an account at Cirrus CI before get started? Please let me know if you need some assistance.

[2022-09-12 14:20] hellrezaa opened #179 "Moka counter & multiple cache integration"
Dear Sir,
I'm a new rustacean so sorry if my questions are a little amateur! I really love the concept of moka and what you've built, it is exactly what I was searching for!

I would like to integrate multiple async / future caches with different TTL & capacities, to run on my actix web server.

I have two key questions I would like to ask:

1. I would love to use moka futures as a counter, howeve

[2022-09-13 13:27] tatsuya6502 commented on #179
Hi. Thank you for trying Moka.

You are right. The current version of Moka (v0.9.x) does not provide such a method to implement counter. It might be a good addition to a future version, but we do not have enough bandwidth now to do it.

Also, you cannot directly use `moka::cht::SegmentedHashMap::insert_or_modify` from your application, because the cht hashmap is one of many internal data structure

[2022-09-13 22:40] tatsuya6502 commented on #179
**Short answer:**

Yes, moka cache can be friendly and share the CPU with the actix web server.

**Long answer:**

On your cloud provider, you will run an instance of Virtual Private Server (VPS) with a UNIX-like operating system such as Linux or FreeBSD, right? On that VPS instance, you will run your web application built upon actix-web, and optionally run a web server (e.g. nginx) in front of it

[2022-09-18 17:14] #171 closed

[2022-09-25 05:57] ben-manes opened #182 "cache line optimized CountMin4"
The original frequency sketch in Caffeine would distribute the counters uniformly across the table. This had the benefit of giving the greatest opportunity for avoiding hash collisions, which could increase the error rate for popularity estimates. However this also meant that each counter was at an unpredictable location and very likely to cause a hardware cache miss. This was somewhat mitigated d

[2022-10-20 06:19] LMJW opened #184 "Add new api similar to `try_get_with`, but return `Option` rather than `Result`?"
Thanks for the great work on the library!

I am using the library in one of the project that I am working on and I feel some apis similar to [try_get_with](https://docs.rs/moka/latest/moka/sync/struct.Cache.html#method.try_get_with), but instead of the function return `Result<V,E>`, having Function returns `Option<V>` would be more "ergonomics".

Just want to know if you are have any objections of

[2022-10-20 06:38] LMJW opened #185 "Is it worth to modify the key of `get_with` as a `&K` rather than `K`?"
Again, thanks for the great library!

Current the [get_with](https://docs.rs/moka/latest/moka/sync/struct.Cache.html#method.get_with) signature requires me to pass the Key by value, rather than &K, where as the `get` method allows me to pass key by reference.

It is definitely reasonable we will need to have key by value as we might need to insert into cache if result is not present,  but it feels

[2022-10-21 10:08] tatsuya6502 commented on #184
Thank you for offering contribution! I like the idea of adding such API. The name `optional_get_with` will be good enough I think.

Actually, when I saw your idea, I wondered if we could make `try_get_with` more generic like the `?` operator. `?` operator not only accepts `Result` but also `Option` and `ControlFlow`. And once [try_trait_v2](https://github.com/rust-lang/rfcs/pull/3058) feature is s

[2022-10-21 23:34] LMJW commented on #184
Thanks @tatsuya6502 for the feedback. I will spend sometime to look into adding the new API.

I also spend sometime to look into the problem you mentioned in the previous thread. I am not sure if I fully understand what you want to achieve. Base on my understanding. if we want to solve the problem you mentioned, we need some sort of "conditional" compilation/type, basically tell compiler, hey if t

[2022-10-22 00:01] tatsuya6502 commented on #184
I feel so too. So adding `optionally_get_with` will be good to me.

`Arc` is for sharing the `E` value between simultaneous `try_get_with` calls on the same key.

`Cache` allows multiple threads to call `try_get_with` on the same key at the same time. If key does not exist in the cache, they all will try to evaluate their `init` closure and insert value to the cache. This will not be efficient if

[2022-10-22 00:02] LMJW commented on #184
Got it. Thanks for your explaination.

[2022-10-22 00:28] tatsuya6502 commented on #184
Thank you!

You might want to start reading the code for an internal method `get_or_try_insert_with_hash_and_fun`: https://github.com/moka-rs/moka/blob/4ac7d8c45dd4dcc47c3edcbb640ea0cf8d9930a1/src/sync/cache.rs#L1161

Then read the code of `ValueInitializer` struct: https://github.com/moka-rs/moka/blob/4ac7d8c45dd4dcc47c3edcbb640ea0cf8d9930a1/src/sync/value_initializer.rs#L21-L27

`ValueInitialize

[2022-10-22 00:37] tatsuya6502 commented on #185
Thank you for the suggestion. We can achieve this by cloning the key (at [line 1054](https://github.com/moka-rs/moka/blob/4ac7d8c45dd4dcc47c3edcbb640ea0cf8d9930a1/src/sync/cache.rs#L1054)) in an internal method `get_or_insert_with_hash_and_fun`.

I would add them as new APIs rather than changing the current ones. The current ones will still have advantages in some use cases:

- New ones (to pass k

[2022-10-22 00:41] tatsuya6502 commented on #185
FYI, I am planning to move some advanced or unpopular APIs to under a new API that mimics the `entry` API in the std `HashMap`. I have not finalized the design yet, but it will be something like this:

[code]

So we will have `entry_by_ref` and `entry` to pass key by reference and by value, respectively.

And we will keep/add the following convenient APIs as shortcuts of above:

[code]

[2022-10-22 03:01] LMJW commented on #184
Thanks for your comments & suggestions. That's very helpful. Will definitely take a look.

[2022-10-23 21:43] LMJW commented on #185
Hi @tatsuya6502 . I think `rget_with/try_rget_with` is fine. A potential alternative is `get_with_ref/try_get_with_ref` or even `get_with_by_ref/try_get_with_by_ref` to matching `entry_by_ref` style, but I am happy with `rget_with` which is short to write. I will spend sometime on this once the other PR is finalized.

[2022-10-24 23:58] #184 closed

[2022-10-25 00:36] tatsuya6502 commented on #185
Thanks for the method name ideas. I have no preference/it is hard to choose to me. All names are fine. If you have any preference, please pick one.

[2022-10-25 00:49] LMJW commented on #185
I don't have a strong preference. If we decided to use `entry_by_ref`, I would keep it consistent and use `get_with_by_ref/try_get_with_by_ref` even though it is a bit long.

I will look into this issue a bit later this week. :)

[2022-10-26 10:09] tatsuya6502 commented on #185
Thanks. No need to rush. Please take your time.

I started to play with the entry API and I am almost certain to use `entry_by_ref` there. So using `get_with_by_ref` / `try_get_with_by_ref` would make sense.

I have got the following code to compile.

https://gitlab.com/moka-labs/moka-entry-api/moka-entry-api-mock/-/blob/main/src/main.rs#L12-27

[code]

Note: I am not directly modifying Moka's sou

[2022-10-26 11:03] LMJW commented on #185
Thanks @tatsuya6502 . Then new entry api looks pretty cool. I like it. Also, I will try out the trait bound when I implement the by_ref api. I think it should work. :)

One question I have about the entry api is, if the entry returns the reference to V, since this is a concurrent cache, if it is called from another thread/tokio task to write the entry, will there be any potential contentions? I ha

[2022-10-26 12:07] tatsuya6502 commented on #185
No, there is no contention. `or_insert_with()` method returns an `Entry` instance, and that entry owns a clone of value `V`. The `&V` returned from `value()` is referencing the value in the entry, instead of the one in the cache. So, there is no lock to guard the value in the cache and other threads are free to replace it.

Yeah, it might be a bit confusing.

[2022-10-28 07:06] LMJW commented on #185
I got it. Thanks for the explaination.

[2022-10-30 10:18] LMJW commented on #185
Push a PR, feel free to take a look when you have time @tatsuya6502  :)

[2022-11-02 05:04] tatsuya6502 commented on #136
I am working on this for [v0.10.0](https://github.com/moka-rs/moka/milestone/28) release via https://github.com/moka-rs/moka/pull/193.

[2022-11-07 00:45] #136 closed

[2022-11-16 09:14] WyseNynja opened #201 "Help with size based eviction that weighs with bytes"
For my project, I am wanting to add some cache size limits that are set automatically based on system memory. Are there any examples of someone doing this?

I'm not sure how to accurately calculate the size in bytes if adding an item. It's going to be something like `size_of(key) + size_of(value) + overhead`. What is the overhead? And is this the right idea?

Also my Cache Values are json_serde::V

[2022-11-17 13:17] tatsuya6502 commented on #201
Hi.

Yes, it is the right idea.

## Overhead per Entry

The overhead per cache entry will be the followings on 64-bit platforms:

| Write-order queue? | Overhead (bytes per entry) *2 |
|:-------------------|------------------------------:|
| Disabled           | 152                           |
| Enabled (*1)       | 184                           |

*1: Write-order queue is enabled if one or both o

[2022-11-17 13:45] tatsuya6502 commented on #201
If I understand the internal data structure of `serde_json::Value` correctly, the following function can calculate the byte size of a value.

[code]

[2022-11-19 18:42] Swatinem opened #203 "moka is too polymorphic (cargo-llvm-lines)"
I was playing around with https://github.com/dtolnay/cargo-llvm-lines recently, and found out that `moka` does generate a ton of llvm IR due to too much internal generics.

This is suboptimal for a couple of reasons:
* it generates multiple copied of functions that have to be compiled, hurting compile times.
* may lead to binary bloat
* may even hurt performance as the instruction cache is not use

[2022-11-19 21:06] Swatinem commented on #203
looks like I was a bit overeager. Apart from the one I found, most of the things are either due explicit `#[inline]` annotations (if I understand things correctly), or justified differences because of generic functions that do different things.